
{% extends 'layout.html' %}
{% block content %}
<h2>Configurações do Portal</h2>
<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Título do Portal</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ company.name }}">
            </div>
            <div class="mb-3">
                <label for="primary_color" class="form-label">Cor Principal do Tema</label>
                <input type="color" class="form-control form-control-color" id="primary_color" name="primary_color" value="{{ company.primary_color }}">
            </div>
            <div class="mb-3">
                <label for="logo" class="form-label">Logo (Opcional)</label>
                <input type="file" class="form-control" id="logo" name="logo">
            </div>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>
    </div>
</div>
{% endblock %}
