{% extends "base.html" %}
{% block title %}Painel de Admin{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Painel de Administrador</h1>
    <p>Bem-vindo, {{ current_user.email }}!</p>
    
    {% if current_user.role == 'admin' and not current_user.company_id %}
    <div class="alert alert-warning">Você é um administrador, mas ainda não foi associado a uma empresa. Por favor, contate o Administrador Geral.</div>
    {% elif current_user.role == 'admin' and current_user.company_id %}
    <div class="list-group">
      <a href="{{ url_for('manage_projects') }}" class="list-group-item list-group-item-action">Gerenciar Projetos</a>
      <a href="{{ url_for('upload_layer_page') }}" class="list-group-item list-group-item-action">Fazer Upload de Camada</a>
      <a href="{{ url_for('manage_shared_maps') }}" class="list-group-item list-group-item-action">Gerenciar Mapas Públicos</a>
    </div>
    {% endif %}

    {% if current_user.role == 'super_admin' %}
    <hr>
    <h5 class="mt-3">Área do Super Admin</h5>
    <div class="list-group">
      <a href="{{ url_for('manage_companies') }}" class="list-group-item list-group-item-action">Gerenciar Empresas</a>
      <a href="{{ url_for('manage_users') }}" class="list-group-item list-group-item-action">Gerenciar Administradores</a>
    </div>
    {% endif %}
</div>
{% endblock %}